body {
    min-height: 80%;
    padding-top: 50px;
    background-color: #e1e8f0;
    font-family: "Oswald", sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.8em;
}

.row {
    background-color: #e1e8f0;
}

.col-xs-12 {
    background-color: #fff;
}

.navbar-default {
    background-color: #9068be;
    border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
    color: #fff;
}



.tableArea {
    background: #fff;
}

.btn-primary {
    background: #fff;
    color: #000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background: #fff;
}

.btn-primary:active,
.btn-primary.active {
    background: #fff;
    box-shadow: none;
}

.inline {
    display: inline-block;
    margin: 10px;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.index-list a i {
    margin-right:10px;
    pointer-events:none
}
.index-list a.active {
    background:#fff;
    box-shadow:0 2px 4px rgba(50,50,93,.1)
}
